{% extends "shared/base.html" %}

{% block content %}

<h2>Edit User</h2>

<hr>

<form method="POST">

    <label>Username:</label><br>
    <input type="text" name="username" value="{{ user.username }}" required><br><br>

    <label>Role:</label><br>
    <select name="role">
        <option value="branch_manager"
            {% if user.role == "branch_manager" %}selected{% endif %}>
            Branch Manager
        </option>

        <option value="vendor"
            {% if user.role == "vendor" %}selected{% endif %}>
            Vendor
        </option>
    </select><br><br>

    <label>New Password (optional):</label><br>
    <input type="password" name="password"><br><br>

    <button type="submit">Update</button>

</form>

<hr>

<a href="{{ url_for('branch.list_users') }}">⬅ Back to Users</a>

{% endblock %}